{{- /*I gotta use these whitespace trimmers to clean this up*/ -}}
Person: {{.Person.Name}}
{{with .Starships}}
Starship{{if gt (len .) 1}}s{{end}}:
{{range .}}
	Name: {{.Name}}
	Class: {{.StarshipClass}}
	Capacity: {{.CargoCapacity}}
{{end}}{{else}}
No starships!
{{end}}{{with .HomePlanet}}
Home planet:

	Name: {{.Name}}
	Population: {{.Population}}
	Climate: {{.Climate}}
{{else}}
No home planet!
{{end}}{{with .Species}}
Species:
{{range .}}
	Name: {{.Name}}
	Language: {{.Language}}
	AverageLifespan: {{.AverageLifespan}}
{{end}}{{else}}
No species information!
{{end}}
